.btn-header{
  border-color: $realdarkerblue;
  background-color: transparent;
  &:hover{
    color: white;
  }
}

.btn-board{
  border-color:white;
  color: white;
  background-color: transparent;
  border-radius: 6px;

}