/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.bg-red {
  background: $red;
  color: white;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-orange {
  background: $orange;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}
.bg-purple {
  background: $purple;
  color: white;
}



.margin-top{
  margin-top: 40px;
}

.margin-right{
  margin-right: 150px;
}
.row-padding{
  padding: 70px;
}

.clear {
  clear: both;
}

.img-reduce{
  height:125px;
}