#banner-bg-home{
  position: relative;
  background-image: image-url('background.png');
}

// #features{
//   position: relative;
// }

.text-header{
  margin-top: 270px;
}

.feature-container {
  position: relative;
}


